@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

html {
    height: 100%;
}

body {
    background-color: #F2F2F2;
    display: flex;
    min-height: 100%;

    flex-direction: column;
    margin: 0;
}

.index-container {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    width: 1200px;
    margin: 0 auto;
    outline-offset: -5px;
    min-height: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    color: #333333;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* header styles */

img {
    display: block;
}

.logo {
    margin-bottom: 0;
    padding: 0;
    display: block;
    z-index: 3;
    position: relative;
}

.page-header {
    font-weight: 700;
    /* min-height: 66px; */
    display: flex;
    padding: 0 70px;
    margin: 0;
    justify-content: space-between;
}

.page-navigation {
    display: flex;
    width: 891px;
    min-height: 66px;
    justify-content: space-between;
}

.navigation-list-pages {
    min-width: 490px;
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation-item {
    display: block;
    min-width: 42px;
}

.navigation-list-additional {
    margin-top: 0;
    padding: 0;
    min-width: 264px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.navigation-list-additional li:nth-child(:last-child) {
    margin-left: 20px;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.navigation-link {
    font-size: 20px;
    text-transform: capitalize;
    display: block;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 20px 17px 20px 17px;
}

.reason-intro {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 auto 90px auto;
}


.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
    padding: 0 15px 0 15px;
    min-height: 37px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button-big {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.button-action {
    background-color: #82B3D3;
    border: none;
    font-weight: 700;
}

.button-accept {
    min-height: 48px;
}

.button-transparent {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

.button-favourite {
    background-color: #7DB54F;
}

.button-rating {
    color: #333333;
    background-color: #F2F2F2;
    width: 140px;
    height: 37px;
}

.hotel-button {
    font-weight: 700;
    width: 300px;
    border-radius: 4px;
    padding: 9px 15px 8px 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-under {
    width: 140px;

}

.invite {
    margin-bottom: 93px;
}

.invite-button {
    width: 574px;
    display: block;
    margin: 0 313px 0 313px;
    border-radius: 4px;
    padding: 12px 15px 12px 15px;
}

/* main styles */

.main-index {
    text-align: center;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.welcome-image {
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#5f9ea0;
    margin-bottom: 63px;
}

.welcome-logo {
    /* display: block; */
    margin: 51px auto 82px auto;
}

.main-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 290px 30px 290px;
}

.advantages {
    margin-bottom: 91px;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;

}

.reason-container, .reason-item  {
    display: flex;
    flex-wrap: wrap;
}

.reason-item {
    width: 400px;
    min-height: 384px;
    padding: 20px 85px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.invite-description {
    margin: 0 304px 55px 304px;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;

}

.newsletter {
    max-width: 1200px;
    height: 411px;
    padding: 94px 200px 94px 200px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.newsletter-background {
    background-image: url("../images/subscibe-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color:#5f9ea0;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.newsletter-form-email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 60px;
    padding: 0;
    margin: 0;
    width: 800px;

}

.reason-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}

.newsletter-description {
    margin: 0;
    margin-bottom: 46px;
}

.main-reason-img {
    color: #FFFFFF;
    background-color: #83B3D3;
}

.light-box {
    background-color: rgba(131, 179, 211, 0.12);

}

.dark-box {
    background-color: rgba(131, 179, 211, 0.2);
}

/* footer */

.page-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1060px;
    min-height: 50px;
    margin: 35px 70px 35px 70px;
    justify-content: space-between;
    align-items: center;
}

.social-networks {
    width: 142px;
    padding: 0;
}

.social-networks-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-networks-item {
display: block;
padding: 0;
margin: 0;
width: 40px;
height: 40px;
}

.social-network-link {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact-phone {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    list-style: none;
    margin: auto;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
}


.htmlacademy-url {
    text-decoration: none;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.contact-phone {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

/* крошки */

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110px;
    min-height: 21px;
    justify-content: space-between;
    margin-bottom: 40px;
    /* poshemu: ne-poseredine; */
}

.breadcrumbs-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #F2F2F2;
}

/* catalog */


.catalog-filter-all {
    background-image: url("../images/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #82B3D3;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 35px 70px 70px 70px;
    margin-bottom: 55px;
}

.catalog-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-filter {
    display: flex;
    flex-direction: row;
    width: 1060px;
    justify-content: space-between;
}

.catalog-filter-left {

    width: 366px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-filter-main {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0 auto 10px 0;
    min-height: 78px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    max-width: 150px;
    padding: 0 0 30px 0;
}

.catalog-filter-group {
    border: none;
    margin: 0;
    padding: 0;
}

.price-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 518px;
    min-height: 148px;
    align-items: end;
}

.filter-buttons {
    width: 160px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

.catalog-visualization {
    width: 1057px;
    height: 49px;
    margin: 0 71px 56px 71px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.text-description {
    font-size: 18px;
    line-height: 21px;
}

.search-declaration {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 113px 0 0;
    padding: 0;
}

.button-view {
    margin: auto;
    padding: auto;
    width: 48px;
    height: 48px;
    border: #000000;
    border-image: url();
}

.view-type {
width: 160px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: space-around;

}

.select-control-method {
    width: 290px;
    height: 49px;
    margin: 0;
    padding: 0;
}



.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333
}



/* hotels */

.hotel-list {
    max-width: 1056px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto 0 auto;
    padding: 0;
}

.hotel-img-mini {
    padding-bottom: 16px;
}

.hotel-type-cost {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0;
}

.hotel-type-cost-value {
    width: 140px;
    margin: 0;
    padding: 0;
}



.hotel-card {
    width: 340px;
    height: 438px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hotel-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.hotel-type-cost {
    display: flex;
}

.hotel-type-cost {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333
}

.hotel-class {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.star {
    background-image: url("./images/pics/star.svg");
}

.hotel-grade {
    display: flex;

}

.catalog-bottom-view {
    width: 1056px;
    margin: 0 72px 25px 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-between;
}

.pagination-item {
    width: 60px;
    height: 60px;
    display: block;
    background-color: #82B3D3;
    margin: 0;
    padding: 0;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #82B3D3;

    text-decoration: none;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}
